{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">About me</h5>
          <img src= "https://scontent.fbkk22-4.fna.fbcdn.net/v/t1.0-9/122151192_3214191938691556_8638499421808419497_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGgz2jnL2uWYvMkobC1S5IcB2TsYUay1-sHZOxhRrLX62gb7k5uUKxCoTSSH3KhpkLwSHq88YmFhxVxE9BDmbN7&_nc_ohc=sPUEI7c247AAX8wvCMA&_nc_ht=scontent.fbkk22-4.fna&oh=4206e662a7d6451eb09961ca53975104&oe=603C3CB2">
          </div>
        </div>
      </div>
      <div class="col-md-8">
         <div class="touch">
           <div class="card text-left">
             <div class="card-body">
               <h5 class="text-center">ข้อมูลส่วนตัว</h5>
               <p>ชื่อ : นาย รวี ไวยภารา</p>
               <p>รหัสนิสิต : 62102010183</p>
               <p>เบอร์โทร : 0982352542</p>
               
               <a href="https://github.com/raveevaipara"><i class="fab fa-github-square fa-6x"></i></a>
               <a href="https://www.instagram.com/ravee_mai/"><i class="fab fa-instagram fa-6x"></i></a>
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}