{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">ค้นหาข่าวที่คุณต้องการ</h5>
          <div class="col-sm">
            <div class="form-outline">
              <form>
                <input type="text" name="word" class="form-control" />
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <br>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-12">
      <div class="touch">
        <div class="card text-left">
          <div class="card-body">
            <div class="row">
              {% for i in news %}
              <div class="col-md-4 mt-2">
                <div class="card">
                  <div class="card-body">
                    <h5>{{i.title}}</h4>
                      <p class="card-text text">{{i.description }}</p>
                      <br>
                  </div>
                  <div class="text-right mr-2 mb-3">
                    <a href="{{ i.Link }}" class="text-left btn btn-outline-primary btn-lg">Readmore</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}